/* _commons.scss */

#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#contentView {

}

.inner-wrapper {
    margin-inline: auto;
    padding-inline: .4rem;
    width: min(100% - 1rem, 55rem);
}

.button-outline-fill {
    --button-color: black;
    --text-color: white;

    display: inline-block;
    padding: .4rem 1rem;
    border-radius: .25rem;
    border: .1rem solid var(--button-color);
    color: var(--button-color);
    font-weight: 600;
    transition: .3s;

    &:hover {
        background-color: var(--button-color);
        color: var(--text-color);
        text-decoration: underline 1px;
    }
}

.button-fill {
    --button-color: black;
    --text-color: white;

    display: inline-block;
    padding: .5rem 1.1rem;
    border-radius: .25rem;
    background-color: var(--button-color);
    color: var(--text-color);
    font-weight: 600;

    &:hover {
        text-decoration: underline 1px;
    }
}

/* _commons.scss */