/* _mainPage.scss */

#wrap {
    background-image: url('../images/2024_august_pick_bg.png'); // 굿즈 부분 고정 배경
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* 메인 비쥬얼 시작 */

#mainVisual {
    width: 100vw;
    aspect-ratio: 2000 / 646;
    background-image: url('../images/2024_august_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.visual-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 100%;
}

.logo-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

.main-visual-logo {
    width: 12vmax;
}

.drink-container {
    display: flex;
    align-items: center;

    &.full {
        height: 60%;
    }

    &.mobile {
        display: none;
        flex-flow: column nowrap;
        justify-content: center;
        height: auto;
    }
}

.main-visual-image {
    display: block;
    background-size: cover;

    & + & {
        margin-inline-start: -3vw;
    }

    &.set {
        &-1,
        &-2,
        &-3 {
            height: 100%;
        }

        &-4 {
            height: 75%;
        }
    }
}

.fade-in {
    opacity: 0;
}

@media screen and (max-width: 1020px) {
    #mainVisual {
        aspect-ratio: 640 / 2185;
        background-image: url('../images/2024_august_bg_m.jpg');
    }

    .visual-holder {
        flex-flow: column nowrap;
    }

    .main-visual-logo {
        width: auto;
    }

    .drink-container {
        &.full {
            display: none;
        }

        &.mobile {
            display: flex;
        }
    }
}

/* 메인 비쥬얼 끝 */
/* 뉴스 티커 & 프로모션 시작 */

#secNews {
    background-color: white;
}

.news-headline {
    background-image: linear-gradient(to right, black 50%, rgb(246 245 239) 50%);

    > .inner-wrapper {
        display: flex;

        > * {
            flex: 1;
        }
    }
}

.news-inner {
    display: flex;

    &.left {
        justify-content: flex-start;
        gap: 1rem;
        margin-inline-start: auto;
    }

    &.right {
        justify-content: flex-end;
        margin-inline-end: auto;
    }
}

.news-scroller {
    padding-block: 1rem;
    background-color: black;
    color: white;
}

#newsScroller {
    height: 1rem;
    overflow: hidden;

    > .news-item {
        line-height: 1rem;
        transition: .5s;

        &:not(:first-child) {
            margin-block-start: 1rem;
        }
    }
}

.promotion-opener {
    padding-block: 1rem;
    background-color: rgb(246 245 239);
}

#promoSlider {
    height: 0;
    background-color: rgb(246 245 239);
    transition: height .5s;
    overflow: hidden;

    &.on {
        height: 30rem;;
    }
}

.slider-container {

}

.swiper-wrapper {

}

.slide-item {
    opacity: .5;

    &.swiper-slide-active {
        opacity: 1;
    }
}

/* 뉴스 티커 & 프로모션 끝 */
/* 리워드 시작 */

#secReward {
    background-color: rgb(30 57 50);
    color: white;
}

/* 리워드 끝 */
/* 신상품 시작 */

#secNewItems {

}

.new-item-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.item-01 {
        background-image: url('../images/25th_summer_bean_bg.png');
    }

    &.item-02 {
        background-image: url('../images/240521_pc_reserve_bg_1.jpg');
    }
}

/* 신상품 끝 */
/* 굿즈 시작 */

#secGoods {

}

/* 굿즈 끝 */
/* 리저브 매거진 시작 */

#secMagazine {
    background-color: white;
}

/* 매장 찾기 시작 */

#secFindStore {
    background-image: url('../images/store_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 매장 찾기 끝 */

/* _mainPage.scss */